body, html{
  height:100%;

}
body{
  margin: 0px;
  background-image: url("./bcgpic.jpeg");
  background-position: center;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUpButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
/* .dancer{
  border:10px;
  border-radius:10px;
  position:absolute;
} */
.wildDancer{
  color: greenyellow;
  border: 30px solid;
  position: absolute;
}

.blinkyDancer{
  color: gold;
  border: 10px solid gold;
  border-radius: 10px;
  position: absolute;
}

.superHero{
  color: rgb(255, 255, 255);
  animation:spin 4s linear infinite;
  position: absolute;
  border: 20px solid;
  border-radius: 0px;
}

@keyframes spin {
  100% {
      -webkit-transform: rotate(360deg);
      transform:rotate(360deg);
  }
}

.popDancer{
  color: powderblue;
  animation: move 2s linear infinite;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 60px solid powderblue;
  position: absolute;
}

@keyframes move {
  0% {left: 10%;}
  100% {left: 80%;}
}

